*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild

import-summary.txt
app/build/
app/app.iml

*.iml

.idea/gradle.xml

.idea/gradle.xml

.idea/misc.xml

.idea/vcs.xml

app/app.iml

MyFramework.iml
